<div class="create">
    <div class="create__create-container">
        <div [hidden]="isHiddenAlreadyExistsError" class="create__error-wrapper">
            <div class="create__error-container">
                <span class="create__error">
                    A form control with name <strong>{{label}}</strong> already exists in your form.
                    Please try again with a unique name.
                </span>
            </div>
        </div>
        <form [formGroup]="addForm" class="create__add-form">
            <div class="create__input-group create__input-group--first">
                <label for="createLabel">Field name</label>
                <input 
                    type="text" 
                    class="uform-input"
                    [ngClass]="{'uform-input--error' : errors['label']}"
                    formControlName="label" 
                    id="createLabel"
                >
                <div *ngIf="errors['label']">
                    <span 
                        *ngIf="errors['label']['required']"
                        class="uform-error"
                    >
                        Required field
                    </span>
                </div>
            </div>
            <div class="create__input-group">
                <label for="createType">Field type</label>
                <select 
                    formControlName="type"
                    id="createType"
                    class="uform-select"
                    [ngClass]="{'uform-input--error' : errors['type']}"
                >
                    <option value="input">Input</option>
                    <option value="select">Dropdown</option>  
                </select>
                <div *ngIf="errors['type']">
                    <span 
                        *ngIf="errors['type']['required']"
                        class="uform-error"
                    >
                        Required field
                    </span>
                </div>
            </div>
            <div *ngIf="!isHiddenDropdownOptions" class="create__input-group">
                <label>
                    Add comma separated options:
                </label>
                <textarea
                    formControlName="selectOptions"
                    class="uform-textarea"
                    [ngClass]="{'uform-input--error' : errors['selectOptions']}"
                ></textarea>
                <div *ngIf="errors['selectOptions']">
                    <span 
                        *ngIf="errors['selectOptions']['required']"
                        class="uform-error"
                    >
                        Required field
                    </span>
                </div>
            </div>
            <div class="create__input-gtroup">
                <input 
                    id="createRequired"
                    type="checkbox"
                    formControlName="required"
                    class="uform-checkbox"
                >
                <label for="createRequired">Required</label>
            </div>
            <div class="create__input-group">
                <label for="createMaxLength">Max length</label>
                <input 
                    id="createMaxLength" 
                    type="text" 
                    formControlName="maxLength"
                    class="uform-input"
                >
            </div>
            <div class="create__input-group">
                <label for="createDefaultValue">Default value</label>
                <input 
                    id="createDefaultValue" 
                    type="text" 
                    formControlName="defaultValue"
                    class="uform-input"
                >
            </div>
        </form>
        <button
            class="create__add-control"
            (click)="addControl()" 
            [disabled]="addForm.invalid"
        >
            +
            <p>
                Add Control
            </p>
        </button>
    </div>
    <div class="create__preview-form">
        <div class="create__preview-form-container">
            <app-preview [newFormObject]="newFormObject"></app-preview>
        </div>
    </div>
</div>