<div class="navbar">
    <div class="navbar__logo-container">
        <img src="../../assets/logo.svg" alt="Uform Logo" class="navbar__logo">
    </div>
    <div class="navbar__links-container">
        <a [routerLink]="['/sign-in']" class="navbar__link">
            LOG IN
        </a>
        <a [routerLink]="['/create-form']" class="navbar__link">
            CREATE FORM
        </a>
        <a [routerLink]="['/manage-forms']" class="navbar__link">
            MANAGE FORMS
        </a>
    </div>
</div>