<div class="navbar">
    <div class="navbar__content">
        <a class="navbar__logo-container" [routerLink]="['/home']">
            <img src="../../assets/logo.svg" alt="Uform Logo" class="navbar__logo">
        </a>
        <div class="navbar__links-container">
            <span 
                class="navbar__welcome"
                *ngIf="isLoggedIn"
            >
                Welcome, {{userName}}!
            </span>
            <a 
                [routerLink]="['/sign-in']" 
                class="navbar__link"
                *ngIf="!isLoggedIn"
            >
                Log in
            </a>
            <a 
                [routerLink]="['/create-form']" 
                class="navbar__link"
                *ngIf="isLoggedIn"
            >
                Create form
            </a>
            <a 
                [routerLink]="['/manage-forms']" 
                class="navbar__link"
                *ngIf="isLoggedIn"
            >
                Manage forms
            </a>
            <a 
                class="navbar__link" 
                (click)="signOut()"
                *ngIf="isLoggedIn"
            >
                Log out
            </a>
        </div>
    </div>
</div>